{{define "about" -}}
    {{template "head" . -}}

    <article>
	<h1>{{local "AboutSiteTitle" "SiteName" .BrandName}}</h1>
	<p>{{local "AboutSiteContent" "SiteName" .BrandName}}</p>
    </article>

    {{template "foot" . -}}
{{end -}}
